# 1
Utilize o conjunto de dados [Go To College Dataset](https://www.kaggle.com/datasets/saddamazyazy/go-to-college-dataset) ou um conjunto de dados de **classificação supervisionada** de sua escolha.

##### Carregando os dados do Go To College Dataset

In [3]:
import pandas as pd

path = r"C:\Users\Levy\Downloads\Dados\data.csv"
dados = pd.read_csv(path)

dados.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,will_go_to_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False

# 2
Realize a classificação utilizando pelo menos os seguintes métodos:
- kNN
- Decision Trees
- Bayes
- MLP (uma camada oculta)
- MLP (duas camadas ocultas)
- SVM

#### kNN

In [4]:
# Transformando Colunas Com Dados Duais Em Colunas Com Dados Binários

dados = dados.replace({'Academic': 1, 'Vocational': 0})
dados = dados.replace({'A': 1, 'B':0})
dados = dados.replace({'Male': 1, 'Female':0})
dados = dados.replace({'Urban': 1, 'Rural':0})
dados = dados.replace({True: 1, False:0})

In [5]:
# Label Encoder

from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
lb.fit(dados['interest'])
new_col = lb.transform(dados['interest'])
dados['interest'] = new_col


X_cru = dados.drop(columns='will_go_to_college')
y_cru = dados['will_go_to_college']

from sklearn.model_selection import train_test_split
X_ctrain, X_ctest, y_ctrain, y_ctest = train_test_split(X_cru, y_cru, test_size=0.2, random_state=42)

dados.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,will_go_to_college
0,1,1,1,1,1,56,6950000,83.0,84.09,0,1
1,1,1,1,1,1,57,4410000,76.8,86.91,0,1
2,1,0,0,4,1,50,6500000,80.6,87.43,0,1
3,0,0,1,4,0,49,6600000,78.2,82.12,1,1
4,1,1,0,4,1,57,5250000,75.1,86.79,0,0

##### Normalização dos dados

In [6]:
from sklearn.preprocessing import MinMaxScaler

normalizador = MinMaxScaler()
normalizador.fit(dados)

dados_normalizados = pd.DataFrame(normalizador.transform(dados), columns = dados.columns)
dados_normalizados.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,will_go_to_college
0,1.0,1.0,1.0,0.25,1.0,0.64,0.661111,0.630,0.395217,0.0,1.0
1,1.0,1.0,1.0,0.25,1.0,0.68,0.378889,0.568,0.517826,0.0,1.0
2,1.0,0.0,0.0,1.00,1.0,0.40,0.611111,0.606,0.540435,0.0,1.0
3,0.0,0.0,1.0,1.00,0.0,0.36,0.622222,0.582,0.309565,1.0,1.0
4,1.0,1.0,0.0,1.00,1.0,0.68,0.472222,0.551,0.512609,0.0,0.0

In [7]:
# Para testar modelos com todas as colunas
X = dados_normalizados.drop(columns='will_go_to_college')
y = dados['will_go_to_college']

# Para testar modelos com apenas as colunas com os maiores indices de co-relação
X2 = X[['interest', 'parent_salary', 'house_area', 'average_grades']]
X2.head()

   interest  parent_salary  house_area  average_grades
0      0.25       0.661111       0.630        0.395217
1      0.25       0.378889       0.568        0.517826
2      1.00       0.611111       0.606        0.540435
3      1.00       0.622222       0.582        0.309565
4      1.00       0.472222       0.551        0.512609

In [8]:
# Preparando os dados para o treinamento dos modelos KNN

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, test_size=0.2, random_state=42)

In [9]:
# Implementação dos modelos

from sklearn.neighbors import KNeighborsClassifier

n_vizinhos = 9

KNN1 = KNeighborsClassifier(n_neighbors=n_vizinhos)
KNN2 = KNeighborsClassifier(n_neighbors=n_vizinhos)

In [10]:
# Treinando os modelos e gerando as predições

KNN1.fit(X_train, y_train)
KNN2.fit(X_train2, y_train2)

pred = KNN1.predict(X_test)
pred2 = KNN2.predict(X_test2)

In [11]:
# Gerando as acurácias

from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, pred)
acc2 = accuracy_score(y_test2, pred2)

print('Acurácia do primeiro modelo (kNN 1): ',acc)
print('Acurácia do segundo modelo (kNN 2): ',acc2)

Acurácia do primeiro modelo (kNN 1):  0.83
Acurácia do segundo modelo (kNN 2):  0.88

#### Decision Trees

In [12]:
# Usando os dados já normalizados para a implementação do modelo
# Usando também dados somente das colunas com maiores indices de co-relação

Xtree = dados_normalizados.drop(columns='will_go_to_college')
Ytree = dados_normalizados['will_go_to_college']

Xtree2 = X2
Ytree2 = y

from sklearn.model_selection import train_test_split

X_train3, X_test3, y_train3, y_test3 = train_test_split(Xtree, Ytree, test_size=0.2, random_state=42)
X_train4, X_test4, y_train4, y_test4 = train_test_split(Xtree2, Ytree2, test_size=0.2, random_state=42)

In [13]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc2 = DecisionTreeClassifier()

dtc.fit(X_train3, y_train3)
dtc2.fit(X_train4, y_train4)

pred = dtc.predict(X_test3)
pred2 = dtc2.predict(X_test4)

In [14]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test3, pred)
acc2 = accuracy_score(y_test4, pred2)


print('Acurácia do primeiro modelo (dtc 1): ',acc)
print('Acurácia do segundo modelo (dtc 2): ',acc2)

Acurácia do primeiro modelo (dtc 1):  0.87
Acurácia do segundo modelo (dtc 2):  0.83

#### Naive Bayes

In [15]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb2 = GaussianNB()

X = dados.drop(columns='will_go_to_college')
y = dados['will_go_to_college']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
import numpy as np


nb.fit(X_train, y_train)
nb2.fit(X_train2, y_train2)

predi = nb.predict(X_test)
predi2 = nb2.predict(X_test2)

In [17]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, predi)
acc2 = accuracy_score(y_test2, predi2)

print('Acurácia do primeiro modelo (nb 1): ',acc)
print('Acurácia do segundo modelo (nb 2): ',acc2)

Acurácia do primeiro modelo (nb 1):  0.745
Acurácia do segundo modelo (nb 2):  0.835

#### MPL (uma camada)

In [83]:
from sklearn.neural_network import MLPClassifier

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, test_size=0.2, random_state=42)

mlp = MLPClassifier(hidden_layer_sizes=(24), max_iter=1500, solver='adam')
mlp2 = MLPClassifier(hidden_layer_sizes=(24), max_iter=1500, solver='adam')

mlp.fit(X_train3, y_train3)
mlp2.fit(X_train2, y_train2)

predi = mlp.predict(X_test3)
predi2 = mlp2.predict(X_test2)

In [84]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test3, predi)
acc2 = accuracy_score(y_test, predi2)


print('Acurácia do primeiro modelo (mlp 1): ',acc)
print('Acurácia do primeiro modelo (mlp 2): ',acc2)

Acurácia do primeiro modelo (mlp 1):  0.89
Acurácia do primeiro modelo (mlp 2):  0.815

#### MLP (duas camadas)

In [85]:
from sklearn.neural_network import MLPClassifier
mlpD = MLPClassifier(hidden_layer_sizes=(100,100), max_iter=2000, solver='adam')

mlpD.fit(X_train2, y_train2)

predi = mlpD.predict(X_test2)

In [86]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test2, predi)
print(acc)

0.85

# 3
Calcule métricas adequadas para o problema e justifique suas escolhas.

In [ ]:
# CODE

# 4
Realize uma otimização dos hiperparâmetros.

In [ ]:
# CODE

# 5
Avalie todos os resultados.